Workforce.Logic.Housing2/Workforce.Logic.Domain/Service References/HousingReference/GraceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHousingComplexDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HousingComplexDao" nillable="true" type="tns:HousingComplexDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHousingComplexDao" nillable="true" type="tns:ArrayOfHousingComplexDao" />
  <xs:complexType name="HousingComplexDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveBit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelID" type="xs:int" />
      <xs:element minOccurs="0" name="IsHotel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HousingComplexDao" nillable="true" type="tns:HousingComplexDao" />
  <xs:complexType name="ArrayOfApartmentDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApartmentDao" nillable="true" type="tns:ApartmentDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApartmentDao" nillable="true" type="tns:ArrayOfApartmentDao" />
  <xs:complexType name="ApartmentDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveBit" type="xs:boolean" />
      <xs:element minOccurs="0" name="CurrentCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="GenderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HotelID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="RoomID" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApartmentDao" nillable="true" type="tns:ApartmentDao" />
  <xs:complexType name="ArrayOfHousingDataDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HousingDataDao" nillable="true" type="tns:HousingDataDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHousingDataDao" nillable="true" type="tns:ArrayOfHousingDataDao" />
  <xs:complexType name="HousingDataDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssociateID" type="xs:int" />
      <xs:element minOccurs="0" name="MoveInDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MoveOutDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HousingDataDao" nillable="true" type="tns:HousingDataDao" />
  <xs:complexType name="ArrayOfStatusDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusDao" nillable="true" type="tns:StatusDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatusDao" nillable="true" type="tns:ArrayOfStatusDao" />
  <xs:complexType name="StatusDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusDao" nillable="true" type="tns:StatusDao" />
</xs:schema>