Workforce.Logic.Housing2/Workforce.Logic.Domain/Service References/HousingReference/GraceService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-197-33-154.compute-1.amazonaws.com/workforce-housing-soap/GraceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" />
  <xs:element name="GetComplexes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="GetComplexesResult" nillable="true" type="q1:ArrayOfHousingComplexDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="GetApartmentsResult" nillable="true" type="q2:ArrayOfApartmentDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="GetHousingDataResult" nillable="true" type="q3:ArrayOfHousingDataDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="GetStatusesResult" nillable="true" type="q4:ArrayOfStatusDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="newapt" nillable="true" type="q5:ApartmentDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertApartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHousingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="newhdata" nillable="true" type="q6:HousingDataDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHousingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHousingDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHousingComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="newhcomplex" nillable="true" type="q7:HousingComplexDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHousingComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHousingComplexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="newstatus" nillable="true" type="q8:StatusDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="apt" nillable="true" type="q9:ApartmentDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHousingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="hdata" nillable="true" type="q10:HousingDataDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHousingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHousingDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHousingComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="hcomplex" nillable="true" type="q11:HousingComplexDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHousingComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHousingComplexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="status" nillable="true" type="q12:StatusDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="apt" nillable="true" type="q13:ApartmentDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHousingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="hdata" nillable="true" type="q14:HousingDataDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHousingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHousingDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHousingComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="hcomplex" nillable="true" type="q15:HousingComplexDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHousingComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHousingComplexResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Workforce.Data.Housing.Soap.ServiceModels" minOccurs="0" name="status" nillable="true" type="q16:StatusDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>